<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PlayArena</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlayArena.styles.css" asp-append-version="true" />
</head>

<body class="d-flex flex-column justify-content-between">
    @await Component.InvokeAsync("HeaderViewComponent")
   
    <div class="flex-grow-1 flex-shrink-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="footer text-muted d-flex justify-content-between footer-paginas-pai fixed-bottom position-fixed">
        <div class="footer-paginas text-white ps-2 fw-bold">
            Jogue, explore, divirta-se!
            <img src="~/img/codicon--game.svg" class="p-1 pb-2" />
        </div>
        <div class="text-end fw-bold footer-paginas text-white pe-2 ">
            Terms & Privacy   Contact   All rights reserved ©
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
