@page
@model PlayArena.Pages.Conta.LoginModel
@{
}

<style>
	body{
		background-color: #EDF1F5; 
	}
</style>

<div class="d-flex justify-content-end me-3">
    <div class="checkbox-wrapper-54">
        <label class="switch">
            <input type="checkbox" id="tema" onclick="trocarImagem()">
            <span class="slider"></span>
        </label>
    </div>
</div>

<div class="container-pai d-flex justify-content-center align-items-center">
<div class="login-conteiner d-flex justify-content-center align-items-center">
    <form>
        <div class="mb-2">
            <p class="mt-4 titulo-login-cadastro">Login</p>
            <label for="exampleInputEmail1" class="form-label"></label>
                <input type="email" size="200" class="form-control input-informacoes mt-4" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
            <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"></label>
            <input type="password" class="form-control input-informacoes" id="exampleInputPassword1" placeholder="Senha">
        </div>
        <button type="submit" class="btn-login-input mt-5 mb-5">Login</button>
            <p class="mt-4 text-center">Não está registrado? <a class="text-decoration-none" asp-page="/Conta/Cadastro"> Criar conta</a></p>
    </form>
</div>
</div>


